{% load static %}
<div class="card-list">
    {% for authors in page %}
        <div class="card-user" data-author="{{ authors.author_id }}">
            <div class="card-user__header">
                <h2 class="card-user__title"><a href="{% url 'authors-recipes' authors.author %}"
                                                style="color: black">{{ authors.author }}</a></h2>
            </div>
            {% for recipe in authors.author.recipes.all|slice:":3" %}
                <div class="card-user__body">
                    <ul class="card-user__items">
                        <li class="card-user__item">
                            <div class="recipe">
                                <a href="{% url 'recipe_detail' recipe.id %}" class="link">
                                    <img src="{% get_media_prefix %}{{ recipe.image }}" alt="Изображение блюда"
                                         class="recipe__image"></a>
                                <h3 class="recipe__title">
                                    {{ recipe.name }}</h3>
                                <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} минут
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            {% endfor %}
            <li class="card-user__item">
                {# Кол-во у автора рецептов и минус 3, которые уже есть на странице #}
                {% if authors.author.recipes.all.count|add:-3 > 0 %}
                    <a href="{% url 'authors-recipes' authors.author.username %}" class="card-user__link link">Еще
                        {{ authors.author.recipes.all.count|add:-3 }} рецептов...</a>
                {% endif %}
            </li>

            <div class="card-user__footer">
                <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться
                </button>
            </div>
        </div>
    {% endfor %}
</div>

