{% load user_filter %}

{% if user.is_authenticated %}

    <div class="author-subscribe" data-author="{{ author.id }}">
        {% if user|is_following:author.id %}
            <p style="padding: 0 0 2em 0;">
                <button class="button button_style_light-blue button_size_auto button_style_light-blue-outline"
                        name="subscribe"><span class="icon-check button__icon"></span> Отписаться от автора
                </button>
                {% else %}
                {% for recipe in page %}
                    {% if not recipe.author == request.user %}
                        {% ifchanged %}
                            <p style="padding: 0 0 2em 0;">
                                <button class="button button_style_light-blue button_size_auto" name="subscribe"
                                        data-out>
                                    Подписаться на автора
                                </button>
                            </p>
                        {% endifchanged %}
                    {% endif %}
                {% endfor %}
        {% endif %}
    </div>
{% endif %}