{% extends 'base.html' %}
{% load static %}

{% block title %}Рецепты{% endblock title %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block nav %}
    {% include 'nav.html' with index=True disabled_button=True %}
{% endblock %}

{% block content %}
    <!-- Header контейнера c тегами -->
    <div class="main__header">
        <h1 class="main__title">Рецепты</h1>
        {% include 'container-header-tags.html' %}
    </div>

    <!-- Карточки с рецептами -->
    {% include 'container-recipes-items.html' %}

    <!-- Паджинатор -->
    {% if page.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% include "paginator.html" with items=page paginator=paginator %}
        </ul>
    {% endif %}

{% endblock content %}



{% block static_js %}
    {% csrf_token %}

    <script src="{% static 'js/config/config.js' %}"></script>

    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchpurachases.js' %}"></script>

    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>

    {% if user.is_anonymous %}
        <script src="{% static 'js/template/indexNotAuth.js' %}"></script>
    {% else %}
        <script src="{% static 'js/components/Favorites.js' %}"></script>
        <script src="{% static 'js/template/indexAuth.js' %}"></script>
    {% endif %}

{% endblock %}