{% extends 'base.html' %}
{% load static %}

{% block title %}Редактирование рецепта{% endblock %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block nav %}
    {% include 'nav.html' %}
{% endblock %}


{% block content %}
    <div class="main__header">
        <h1 class="main__title">Редактирование рецепта</h1>
    </div>

    <!--Загрузка контейнера с редактированием рецепта-->
    {% include 'container-edit-recipe.html' %}
{% endblock %}

{% block static_js %}
    {% csrf_token %}

    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/utils/debouncing.js' %}"></script>
    <script src="{% static 'js/template/formRecipe.js' %}"></script>

{% endblock %}